# Deep Learning
torch

# Data processing
numpy>=1.26,<3
pandas>=2.2,<3
scikit-learn>=1.4,<2

# Visualizations
matplotlib>=3.8,<4
plotly

# Utilities
tqdm>=4.66,<5
nbformat>=5.10,<6
nbclient>=0.10,<1

# MVP
streamlit

# Kaggle datasets
kagglehub>=0.3,<2
